ansicolors==1.1.8
ansiwrap==0.8.3
appnope==0.1.0
chainmap==1.0.2
combomethod==1.0.10
cycler==0.10.0
decorator==4.1.2
imageio==2.2.0
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.1
matplotlib==2.1.1
mementos==1.2.8
nulltype==2.2.11
numpy==1.13.3
options==1.4.8
pandas==0.22.0
parso==0.1.1
pexpect==4.3.1
pickleshare==0.7.4
Pillow==5.0.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
readline==6.2.4.1
say==1.6.4
scikit-learn==0.19.1
scipy==1.0.0
show==1.6.0
simplegeneric==0.8.1
simplere==1.2.13
six==1.11.0
sklearn==0.0
textdata==1.7.3
textwrap3==0.9.1
traitlets==4.3.2
wcwidth==0.1.7
